@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

 
/* 1em = 16px - 
 */


body {
background-image: url('../images/Concrete1.jpg');
}

nav li>a {
font-size:1.5em;
font-family: 'Special Elite', cursive;
color: black;

}

#logo{
position: static;
font-family: 'Special Elite', cursive;
font-size: 1em;
color: black !important;
}
.navbar {
border-bottom: none;    
top: 0;
z-index: 9999999999;
background-color: #ffffff57!important;
}


.mypicture{
width: 8.5vw;
height: 15vh;

border: 1px solid gray;	
}


                                      /* Create the parallax scrolling effect */

.parallax{
 	margin-top: 10rem;
	min-height: 31rem;
	 /* Create the parallax scrolling effect */
	background-attachment: fixed;
	 /*fixed= parallax
    scroll= normal*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


																		/* FIND OUT MORE BTN */

.btn-2 {
	font-family: 'Special Elite', cursive !important;
	/* font-family: 'Nixie One', cursive !important;   */
	font-weight: bold !important;
	background: none;
	border: 2px solid black;
	border-bottom-width: 4px;
	font: inherit;
	letter-spacing: inherit;
	margin: 1em;
	padding: 1em 2em;
	text-transform: inherit;
	transition: color 1s;
	/* color: #82f6d8; */
	color: #bfff00;
  }
.btn-2:hover {
	animation: stripes-move 0.75s infinite linear;
	background: repeating-linear-gradient(45deg, #bfff00 0, #bfff00 0.25em, transparent 0.25em, transparent 0.5em);
	color:adjust-hue( #f682a0, 180);
  }
  @keyframes stripes-move {
	100% {
	  background-position: 5em 0px;
	}
  } 

  

h3, h2, h4{

font-family: 'Special Elite', cursive;

}

 p {
	font-family: 'Nixie One', cursive;  
	font-size: 20px;
}

/* Container holding the image and the text */

.container-image {
	position: relative;
	text-align: center;
	color: black;
	font-family: 'Nixie One', cursive;	
	font-weight: bold;
	font-size: 20px;

}
strong{ font-weight: bold}

.about_me {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 10px;
	
}

/* Centered text */

.img-centered {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%)

}

									/* MARGIN FOR THE SECOND GRID*/

.top-buffer>div {
	margin-bottom: 20px;
}

figure{
	margin: 30px;
}

.img-project{
	object-fit: cover;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.p-project{
	font-size: 100%;
	color: #e83e8c;
	font-family: monospace;
}
  


												  /*  CSS GRID FOR SKILLS */
											
.col-4{
	margin: 0 auto;
	align-items: center;
	padding: 20px;
	font-size: 5rem;
	margin-bottom: 50px;
}											  
												  



 
 
                                       /*  GRID FOR PROJECTS */




/* HOVER */

.top-buffer>div {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover  {
		opacity: .5;
}


.contact-form>li {
	font-family: 'Nixie One', cursive;	
	font-weight: bold; 
}



                 /* Flex Container Social*/

.wrapper{
	max-width: 800px;
	margin: 0 auto;
	padding: 15px;
	justify-content: flex-end;
}

.flex-nav ul{
	display: flex;   /*WITH DISPLAY FLEX, THE ITEMS WILL MOVE HORIZONTALLY, OTHERWISE
	THEY WERE IN A VERTTICAL LINE*/
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 30px;
}

.flex-nav a{
	border-bottom: none;
	
} 
 
.flex-nav .social{
	flex: 1;
	
}

.jumbotron{
	opacity: 0.8;
	font-size: bold;
}

.jumbotron>h2{
	/* font-family: 'Fredericka the Great', cursive; */
	font-weight: bold; 
	/* font-family: 'Bangers', cursive; */
	font-family: 'Special Elite', cursive;


}

footer{
	text-align: center;
	font-family: 'Nixie One', cursive;
	font-weight: bold;	
	font-size: 16px;
	color: black;
	margin-bottom: 10px;
}


#imgcontact {
	width: auto; 
	height: 400px;
	vertical-align: middle;	
	
}



.jump {
	position: fixed;
    bottom: 3px;
    right: 5px;
    color:#6878CC ;
    box-sizing: border-box;
    display: block;
}


/* #messenger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 20px;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(#000, 0.9);
} */


															/* HOVER projects Bounce In */
.hvr-bounce-in {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
 
	



  /*MEDIAQUERY*/

 /*  @media all and (max-width:1000px) {
    .flex-nav ul {
        flex-wrap: wrap;
    }
    .flex-nav li {
        flex: 1 1 50%;
    }
}
  
  @media all and (max-width:500px) {
     
    .flex-nav li {
        flex-basis: 100%;
    }
}
 */


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
				background-attachment: scroll;
				margin: 0 auto;
    }
}


  
    